{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %} Resultados de busqueda | QUBO {% endblock titulo %}

{% block cuerpo %}
    <div class="site-section">
      <div class="container">
        <div class="row">
         {% for post in posts %}
          <div class="col-lg-6 mb-6 mb-lg-6">
            <div class="section-heading mb-5 d-flex align-items-center">
              <h2>{{ post.categoria.etiqueta | upper }}</h2>
            <div class="entry2 mb-5">
              <a href="{% url 'base:detalle_post' post.slug %}"><img
                  src="{{ post.imagen_referencial.url }}" alt="Image" class="img-fluid rounded"></a>
              <span class="post-category text-white bg-primary mb-3"></span>
              <h2><a href="{% url 'base:detalle_post' post.slug %}">{{ post.titulo }}</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img
                    src="{{ post.autor.imagen_referencial.url }}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">POR <a href="#">{{ post.autor }}</a></span>
                <span>{{ post.fecha_publicacion }}</span>
              </div>
              <p>{{ post.descripcion }}</p>
             </div>
          </div>
    </div>
    </div>
    </div>
    {% endfor %}
{% endblock cuerpo %}
